/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

mat-drawer-container {
    // min-height: calc(100vh - 230px);
}

.mat-drawer {
    width: 200px;
}

mat-card {
    margin: 8px;
}

mat-icon {
    cursor: pointer;
}


.my-menu {
    width: 230px;
    background: #a3d06e;

    button {
        color: #fff;
        outline: none !important;
        font-size: 20px;
    }
}

.about-us {
    margin-bottom: 8px;

    .tagline {
        margin-top: -7px !important;
        margin-bottom: 10px !important;
    }

    button {
        color: #a3d06e;
        font-weight: bolder;
        padding: 0 4px;

        span {
            font-size: 20px;
        }
    }
}