<nav class="navbar navbar-light bg-lignt">
    <button class="navbar-toggler mb-2" type="button" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon my-toggler"></span>
    </button>
    <div class="navbar-collapse collapse" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item p-1 active">
                <a class="nav-link">Link 1</a>
            </li>
            <li class="nav-item p-1">
                <a class="nav-link">Link 2</a>
            </li>
        </ul>
    </div>
</nav>


<mat-toolbar class="app-title nav-color-2">
</mat-toolbar>

<mat-toolbar class="app-title nav-color-3">
    <mat-toolbar-row>
        <h1>BOOK CLUB</h1>
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="app-title about-us nav-color-4">
    <mat-toolbar-row>
        <p class="tagline">Read Anytime Anywhere</p>
        <button mat-raised-button (click)="abutUs()">ABOUT US</button>
    </mat-toolbar-row>
</mat-toolbar>


<mat-toolbar class="navlinks">
    <mat-toolbar-row>

        <span [routerLink]="['/home']" routerLinkActive="active">
            <mat-icon matListIcon>home</mat-icon> Book Clubs
        </span>
        <span>
            <mat-icon matListIcon>library_books</mat-icon> Discussion Board
        </span>
        <span [matMenuTriggerFor]="menu">
            <mat-icon matListIcon>favorite_border</mat-icon> Suggest/Vote
        </span>
        <mat-menu #menu="matMenu" class="my-menu">
            <button mat-menu-item [routerLink]="['/add-book']" routerLinkActive="active">Suggest Book</button>
            <button mat-menu-item [routerLink]="['/vote-book']" routerLinkActive="active">Vote</button>
        </mat-menu>
        <span>
            <mat-icon matListIcon>event</mat-icon> Event Board
        </span>
        <span>
            <mat-icon matListIcon>chrome_reader_mode</mat-icon> Good Reads
        </span>
        <span [routerLink]="['/books']" routerLinkActive="active">
            <mat-icon matListIcon>library_books</mat-icon> Book List
        </span>

        <!-- <span [routerLink]="['/home']" routerLinkActive="active">
            <mat-icon matListIcon>home</mat-icon> Book Clubs
        </span>
        <span [routerLink]="['/books']" routerLinkActive="active">
            <mat-icon matListIcon>library_books</mat-icon> Discussion Board
        </span>
        <span [routerLink]="['/vote-book']" routerLinkActive="active">
            <mat-icon matListIcon>favorite_border</mat-icon> Vote Suggest
        </span>
        <span [routerLink]="['/add-book']" routerLinkActive="active">
            <mat-icon matListIcon>add</mat-icon> Suggest Book
        </span>
        <span>
            <mat-icon matListIcon>add</mat-icon> Good Reads
        </span>
        <span>
            <mat-icon matListIcon>add</mat-icon> Feedback
        </span>
        <span class="spacer"></span> -->
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<footer>
    <mat-icon matListIcon>copyright</mat-icon>2019 Copyright Text
</footer>