mat-list-item {
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}
.active {
    background: #dcdef3;
    color: #f34f4f;
}

mat-toolbar-row {
    span {
        padding: 1em 1em;
        text-transform: capitalize;
        outline: none;
        cursor: pointer;
        mat-icon {
            vertical-align: sub;
        }
    }
}